.home-container {
  .about {
    text-align: center;
    color: $bg;
    padding: .5em 1em 4em 1em;
    background: $red-450;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    p {
      margin: .5rem 0;
    }
    a {
      font-size: 1.125rem;
      font-weight: 500;
    }
    svg {
      margin-left: .25rem;
    }
  }
  .section {
    @include flex(row, wrap, center, center);
    gap: 1.5rem;
    padding: 1em;
    margin-top: -4rem;
  }
}