.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet  {
  background: $red-400 !important;
}

.categories {
  position: fixed;
  bottom: 0;
  height: auto;
  color: $bg;
  background: $red-400;
  padding: 1em;
  .swiper-slide {
    width: auto;
    font-weight: 600;
  }
}